{% load wagtailcore_tags %}

<div class="row mystickbox">
  <div class="col-md-2 mysectionmenu">
    <nav id="sidebar-menu" class="sidebar-menu">
      <ul>
        {% for section in subpage.get_children.live.specific %}
        <li>
          <div class="icon-btn">
            <span class="hugeicons--pointing-right-03"></span>
            <a class="nav-link sectiontit" href="#{{ section.anchor_id }}">{{ section.title }}</a>
          </div>
          {% if section.get_children.live.specific %}
          <ul>
            {% for subsection in section.get_children.live.specific %}
            <li>
              <a class="nav-link subsectiontit" href="#{{ subsection.anchor_id }}">{{ subsection.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <main class="col-md-9 mysection">
    {% for section in subpage.get_children.live.specific %}
    <section id="{{ section.anchor_id }}">
      <h3 class="tit">{{ section.title }}</h3>
      {{ section.specific.body|richtext }}

      {% if section.specific.code_block %}
        {% if section.specific.is_code %}
        <pre class="line-numbers"><code class="language-javascript">{{ section.specific.code_block|escape }}</code></pre>
        {% else %}
        <div class="gap-20">{{ section.specific.code_block|safe }}</div>
        {% endif %}
      {% endif %}

      {% for subsection in section.get_children.live.specific %}
      <div id="{{ subsection.anchor_id }}" class="subsection">
        <h4 class="subtit">{{ subsection.title }}</h4>

        {{ subsection.specific.body|richtext }}

        {% if subsection.specific.code_block %}
          {% if subsection.specific.is_code %}
          <pre class="line-numbers"><code class="language-javascript">{{ subsection.specific.code_block|escape }}</code></pre>
          {% else %}
          <div class="gap-20">{{ subsection.specific.code_block|safe }}</div>
          {% endif %}
        {% endif %}
      </div>
      {% endfor %}
    </section>
    {% endfor %}
  </main>
</div>